<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Call</title>
</head>		
<body style="background-color:#cccc77">

<h1><%= message %></h1>



</body>
</html>