<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Soft Phone</title>
	<link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="https://ap.salesforce.com/support/api/31.0/interaction.js"></script>
	<style>
		.hide{
			display: none;
		}
		.button-erea{
			display: table-cell;
		}
		.number-button{
			font-size: 30px;
    		line-height: 50px;
    		min-width: 51.5px;
		}
		.flex-container{
			display: flex;
			margin-bottom: 10px;
			margin-top: 5px;

		}
		.flex-item{
			align-content : center;
			margin: 0px 5px;
			position: relative;
		}
		.contents-base-margin{
			margin-left: 4px;
    		margin-bottom: 8px;
		}
		.wrapper-props{
			width:170px;
			margin-top: 40px;
		}
		.tooltip-call-icon,
		.tooltip-recieve-icon,
		.tooltip-question-icon,
		.tooltip-group-icon{
				position: absolute;
				top: -30px;
				display: none;
				width: 50px;			
		}

	</style>
	<script type="text/javascript">
         // Callback of API method: isInConsole
         var isInConsoleCallback = function (response) {
              // Returns true if method is executed in Salesforce console, false otherwise.
              if (response.result) {
                  alert('SoftPhone is in Salesforce console.');
              } else {
                  alert('SoftPhone is not in Salesforce console.');
              }
          };
          // Invokes API method: isInConsole
          function isInConsole() {
                   sforce.interaction.isInConsole(isInConsoleCallback);
          }
          // Callback of API method: getCallCenterSettings
          var getCallCenterSettingsCallback = function (response) {
                 // Result returns call center settings as a JSON string.
                 if (response.result) {
                        alert(response.result);
                 } else {
                        alert('Error retrieving call center settings ' + response.error);
                 }
           };
           // Invokes API method: getCallCenterSettings
           function getCallCenterSettings() {
                    sforce.interaction.cti.getCallCenterSettings(getCallCenterSettingsCallback);
           }
           // Callback of API method: setSoftphoneHeight
           var setSoftphoneHeightCallback = function (response) {
                    // Returns true if SoftPhone height was set successfully, false otherwise.
           if (response.result) {
                   alert('Setting SoftPhone height to 300px was successful.');
           } else {
                  alert('Setting softphone height failed.');
           }
           };
           // Invokes setSoftphoneHeight API method.
           function setSoftphoneHeight() {
                   sforce.interaction.cti.setSoftphoneHeight(300, setSoftphoneHeightCallback);
           }
           // Callback of API method: getPageInfo
           var getPageInfoCallback = function (response) {
                  if (response.result) {
                         alert(response.result);
                  } else {
                         alert('Error occured while trying to get page info: ' + response.error);
                  }
           }
           // Invokes API method getPageInfo
           function getPageInfo() {
                   sforce.interaction.getPageInfo(getPageInfoCallback);
           }

           function openPaticularRecord() {
                   sforce.interaction.searchAndScreenPop('Stella','','inbound');
                   //sforce.interaction.searchAndScreenPop('(212) 842-5500','','inbound');
           }

          // Callback of API method: inboundCallDemo
          var inboundCallDemoCallback = function (response) {
                 // Result returns call center settings as a JSON string.
                 if (response.result) {
                        alert(response.result);
                 } else {
                        alert('Error retrieving data ' + response.error);
                 }
           };
           // Invokes API method: inboundCallDemo
           function inboundCallDemo() {
                     sforce.interaction.searchAndScreenPop('(212) 842-5500','','inbound',inboundCallDemoCallback);
           }

           	var input_phone_number = document.querySelector('#input-phone-number') ? document.querySelector('#input-phone-number').value : "";

			window.onload = function() {

				Array.prototype.forEach.call(document.querySelectorAll('.number-button'),function (item) {
					item.addEventListener('click',function (event) {
	           			var phone_number = String(document.querySelector('#input-phone-number').value) + String(event.target.innerText);
	           			document.querySelector('#input-phone-number').value = phone_number;	

					});	
				});

				document.querySelector('.slds-icon-action-call').addEventListener('mouseover',function (event) {
					document.querySelector('.tooltip-call-icon').style.display = "inherit";

				});

				document.querySelector('.slds-icon-action-call').addEventListener('mouseout',function (event) {
					document.querySelector('.tooltip-call-icon').style.display = "none";
				});


				document.querySelector('.slds-icon-action-info').addEventListener('mouseover',function (event) {
					document.querySelector('.tooltip-recieve-icon').style.display = "inherit";
				});
				document.querySelector('.slds-icon-action-info').addEventListener('mouseout',function (event) {

					document.querySelector('.tooltip-recieve-icon').style.display = "none";
				});

				document.querySelector('.slds-icon-action-question-post-action').addEventListener('mouseover',function (event) {
					document.querySelector('.tooltip-question-icon').style.display = "inherit";
				});
				document.querySelector('.slds-icon-action-question-post-action').addEventListener('mouseout',function (event) {

					document.querySelector('.tooltip-question-icon').style.display = "none";
				});

				document.querySelector('.slds-icon-action-new-child-case').addEventListener('mouseover',function (event) {
					document.querySelector('.tooltip-group-icon').style.display = "inherit";
				});
				document.querySelector('.slds-icon-action-new-child-case').addEventListener('mouseout',function (event) {

					document.querySelector('.tooltip-group-icon').style.display = "none";
				});


			};
			/*
			    var socket = io.connect('/');		    
				// submit chat message
			    $('#form-chat').submit(function(){
			        socket.emit('chat message', $('#mes').val());
			        $('#mes').val('');
			        return false;
			    });
			    // submit username
			    $('#form-popup').submit(function(){
			        // display none
			        $('#popup').css({'display':'none'});
			        $('#black-overlay').css({'display':'none'});
			        // socket connection
			        var username = $('#username').val();
			        socket.emit('show username', username);
			        $('#username').val('');
			        return false;
			    });
		  
			    socket.on('connect', function(){
			        // show user name
					socket.on('sousin', function(data) {
					　　alert(data);
					});
			    });

			        // prepend message li
			    socket.on('chat message', function(msg){
			        $('#messages').prepend($('<li>').text(msg));
			    });
			    // show user name
			        $('#form-header').empty().append($('<h4>').text(username + ' has joined!'));
			    });

			*/
	</script>
</head>
<body>
	<div class="slds-wrap wrapper-props">
		<div class="flex-container">
			<div class="flex-item">
				<div class="slds-popover slds-popover--tooltip slds-nubbin--bottom tooltip-recieve-icon" role="tooltip">
  					<div class="slds-popover__body">受信</div>
				</div>
				<span class="slds-icon_container slds-icon-action-info slds-icon_container--circle" onclick="inboundCallDemo()">
					<svg aria-hidden="true" class="slds-icon slds-icon--small">
						<use 
							xmlns:xlink="http://www.w3.org/1999/xlink" 
							xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#questions_and_answers">
						</use>
					</svg>
				</span>
			</div>
			<div class="flex-item">
				<div class="slds-popover slds-popover--tooltip slds-nubbin--bottom tooltip-call-icon" role="tooltip">
  					<div class="slds-popover__body">発信</div>
				</div>
				<span class="slds-icon_container slds-icon-action-call slds-icon_container--circle" onclick="inboundCallDemo()">
					<svg aria-hidden="true" class="slds-icon slds-icon--small">
						<use 
							xmlns:xlink="http://www.w3.org/1999/xlink" 
							xlink:href="/assets/icons/action-sprite/svg/symbols.svg#call">
						</use>
					</svg>
				</span>
			</div>
			<div class="flex-item">
				<div class="slds-popover slds-popover--tooltip slds-nubbin--bottom tooltip-question-icon" role="tooltip">
  					<div class="slds-popover__body">質問</div>
				</div>			
				<span class="slds-icon_container slds-icon-action-question-post-action slds-icon_container--circle">
					<svg aria-hidden="true" class="slds-icon slds-icon--small">
						<use 
							xmlns:xlink="http://www.w3.org/1999/xlink" 
							xlink:href="/assets/icons/action-sprite/svg/symbols.svg#question_post_action">
						</use>
					</svg>
				</span>
			</div>
			<div class="flex-item">
				<div class="slds-popover slds-popover--tooltip slds-nubbin--bottom tooltip-group-icon" role="tooltip">
  					<div class="slds-popover__body">内線</div>
				</div>			
				<span class="slds-icon_container slds-icon-action-new-child-case slds-icon_container--circle">
					<svg aria-hidden="true" class="slds-icon slds-icon--small">
						<use 
							xmlns:xlink="http://www.w3.org/1999/xlink" 
							xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#groups">
						</use>
					</svg>
				</span>
			</div>
		</div>
		<div class="slds-form-element contents-base-margin">
			<div class="slds-form-element__control">
				<input id="input-phone-number" class="slds-input" type="text" placeholder="電話番号入力" value=""></input>
			</div>
		</div>
		<div class="button-erea">
			<div class="slds-button-group" role="group" style="margin-left: 0.25rem;">
				<button class="slds-button slds-button--neutral number-button">1</button>
				<button class="slds-button slds-button--neutral number-button">2</button>
				<button class="slds-button slds-button--neutral number-button">3</button>
			</div>
			<div class="slds-button-group" role="group">
				<button class="slds-button slds-button--neutral number-button">4</button>
				<button class="slds-button slds-button--neutral number-button">5</button>
				<button class="slds-button slds-button--neutral number-button">6</button>	
			</div>
			<div class="slds-button-group" role="group">
				<button class="slds-button slds-button--neutral number-button">7</button>
				<button class="slds-button slds-button--neutral number-button">8</button>
				<button class="slds-button slds-button--neutral number-button">9</button>	
			</div>
			<div class="slds-button-group" role="group">
				<button class="slds-button slds-button--neutral number-button">+</button>
				<button class="slds-button slds-button--neutral number-button">0</button>
				<button class="slds-button slds-button--neutral number-button">-</button>	
			</div>			
		</div>
		<footer class="slds-docked-composer__footer slds-shrink-none">
	 		<button class="slds-button slds-button--destructive slds-size--1-of-1">通話終了</button>
		</footer>		
	<div id="userlist"></div>
	<div id="form-header"></div>
	<ul id="messages"></ul>
	<form id="form-chat" action="">
		<input id="mes" autocomplete="off">
		<button>Send</button>
	</form>
	</div>
	<div id="black-overlay" style="display: none;"></div>
	<div id="popup" style="display: none;">
		<div id="loader" aria-busy="true" aria-label="Loading, please wait." role="progressbar"></div>
		<form id="form-popup" action="">
			<p>What's your name?</p>
			<input type="text" id="username"><br>
			<button>Send</button>
		</form>
	</div>
	<!--       
	<button onclick="isInConsole();">isInConsole</button></br>
	<button onclick="getCallCenterSettings();">getCallCenterSettings</button></br>
	<button onclick="setSoftphoneHeight();">setSoftphoneHeight(300)</button></br>
	<button onclick="getPageInfo();">getPageInfo</button></br>
	<button onclick="openPaticularRecord();">Stella で検索</button></br>
	<button onclick="inboundCallDemo();">(212) 842-5500から着信</button> 
	-->
</body>
</html>